/*PRE DEFININDO FORMATAÇÕES PARA AS PROPRIEDADES ABAIXO*/
body, button, input, textarea {
    font-family: "Segoe UI", Roboto, Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #262626;    
}

body, #container-geral{
    height: 100%;
}

#container-geral, article, div, footer, header, main, nav, section{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;        
}

#container-geral{
    z-index: 0;
}

.container-section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
    overflow: hidden;    
}

.container-main{
    order: 4;
    flex-grow: 1;
    -webkit-box-ordinal-group: 5;
}

.bg-main{
    background-color: #fafafa;
}

.container-conteudo{
    width: 100%;
    padding-bottom: 32px;
    max-width: 935px;
    margin: 32px auto 0;
    justify-content: center;
    flex-grow: 1;
    flex-direction: row;
}

.template-iphone{
    margin-right: 32px;
    margin-bottom: 12px;
    height: 581.15px;
}

.container-login{
    max-width: 350px;
    margin-top: 12px;
    justify-content: center;
    flex-grow: 1;
    color: #262626;
}

.area-login, .area-cadastrar{
    align-items: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}

.logo{
    margin-top: 36px;
    margin-bottom: 12px;
}

.container-formulario{
    width: 100%;
    max-width: 350px;
    margin-bottom: 10px;
}

.formulario{
    display: flex;
    flex-direction: column;
}

.areas-formulario{
    display: flex;
    align-content: stretch;
    align-items: stretch;
    ustify-content: flex-start;
    margin-top: 24px;
}

.container-input{
    margin: 0 40px 6px;
}

.area-input{
    position: relative;
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    color: #262626;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    background: #fafafa;
    align-items: center;    
}

.descricao-input{
    position: relative;
    height: 36px;
    padding: 0;
    min-width: 0;
    margin: 0;
    display: flex;
    flex: 1 0 0;
}

.texto-descricao{
    white-space: nowrap;
    user-select: none;
    transition: transform ease-out .1s,-webkit-transform ease-out .1s;
    transform-origin: left;
    text-overflow: ellipsis;
    font-size: 12px;
    height: 36px;
    left: 8px;
    line-height: 36px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    color: #8e8e8e;
}

.input{
    flex: 1 0 auto;
    margin: 0;
    outline: 0;
    overflow: hidden;
    padding: 9px 0 7px 8px;
    text-overflow: ellipsis;
    border: 0;
    -webkit-box-flex: 1;
    background: #fafafa;
}

.area-bntEntrar{
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 8px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 8px;
}

.btnEntrar{   
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 9px;
    color: #fff;
    border: 1px solid transparent;
    background-color: rgba(0,149,246,.3);
    border-radius: 4px;
}

.area-divisao{
    flex-direction: row;
    margin: 10px 40px 18px;
}

.traco{
    top: .45em;
    flex-shrink: 1;
    height: 1px;
    position: relative;
    flex-grow: 1;
    background-color: #dbdbdb;
}

.ou{
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 18px;
    text-transform: uppercase;
    flex-grow: 0;
    color: #8e8e8e;
}

.area-entrarFacebook{
    display: flex;
}